name: Build and Push Docker Images

on:
push:
  branches:
    - main
release:
  types: [published]
workflow_dispatch:
repository_dispatch:
  types: [release-completed]

env:
  DOCKERHUB: lahiru98s

jobs:

  get-release-tag:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.latest_release.outputs.release || 'latest' }}
    steps:
      - name: Get latest release
        id: latest_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Print release tag
        run: echo "Release tag:${{ steps.latest_release.outputs.release }}"

  build:
    runs-on: ubuntu-latest
    needs: get-release-tag
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.DOCKERHUB }}/portbridge:latest
            ${{ env.DOCKERHUB }}/portbridge:${{ needs.get-release-tag.outputs.tag_name }}
            ghcr.io/${{ github.repository_owner }}/portbridge:latest
            ghcr.io/${{ github.repository_owner }}/portbridge:${{ needs.get-release-tag.outputs.tag_name }}

  sync-dockerhub:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Sync Docker Hub README
        uses: bemble/sync-readme@v1.0.0
        with:
          user: ${{ secrets.DOCKERHUB_USERNAME }}
          pass: ${{ secrets.DOCKERHUB_TOKEN }}
          slug: ${{ env.DOCKERHUB }}/portbridge 
          readme: ./docker/description.md
          description: PortBridge